<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>classe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">classe</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img class="img-logo" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="logo"></ion-img>
  <div class="corpo">
    <div>
      <ion-button fill="outline" class="botao" [routerLink]="['/tipofamilia']">Familia</ion-button>
      <ion-button fill="outline" class="botao" [routerLink]="['/login']">Individual</ion-button>
    </div>
    
  </div>


</ion-content>