<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tipofamilia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tipofamilia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button shape="round" [routerLink]="['/classe']"><-</ion-button>
  <ion-img class="img-logo" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="logo"></ion-img>
  <div class="corpo">
    <div class="gb">
      <ion-button fill="outline" class="botao" [routerLink]="['/tipofamilia']">Pai</ion-button>
      <ion-button fill="outline" class="botao" [routerLink]="['/iniciokid']">Filho</ion-button>
      <p>Se torne um assinante premium</p>
    </div>
  </div>

</ion-content>